@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome HangFire Crone Jobs</h2>
    <p class="lead">Create Your Own Crone Jobs here</p>
    <p><a href="/Cronejobs" class="btn btn-primary btn-lg">My Jobs &raquo;</a></p>
</div>

<div class="row" style="margin:3%">
    <h2>Getting started</h2>
    <p>
        Automatic Billing, Annually, Monthly is now easy with hangfire
    </p>
    <p><a class="btn btn-default" href="/CroneJobs">Get Started &raquo;</a></p>
</div>